body{
    background-color: rgb(254, 254, 255);
    color: rgb(30, 30, 30);
    text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.heading{
    
    text-align: right; 

}

.img{
    float: left;
    margin: 10px;
   
    
    
}
.head{

   text-align: center;

}
.gallery{
  text-align: center;
}
.gallery-img{
  width: 80%;
  padding: 10%;
  margin: auto;
}